@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Digital";
  src: url("fonts/DS-DIGI.TTF"), format("truetype") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --calculator-bg-color: #3f3f3f;
  --display-bg-color: #d7e4e4;
  --clear-bg-color: red;
  --numkeys-bg-color: black;
  --opkeys-bg-color: #696a6e;
  --display-fonts: "Digital", sans-serif;
  --numkeys-fonts: "Oswald", sans-serif;
  --generic-fonts: "Tahoma", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body,
#calculator,
.row,
.row-wrapper,
.column-wrapper,
#display-wrapper {
  display: flex;
}

#calculator {
  flex-flow: column wrap;
  background-color: var(--calculator-bg-color);
  padding: 10px;
  border-radius: 15px;
}

#display {
  height: 35px;
  width: 135px;
  padding: 0 5px;
  background-color: var(--display-bg-color);
  border-radius: 0 5px 5px 0;
  margin-bottom: 15px;
  line-height: 35px;
  font-family: var(--display-fonts);
  font-size: 30px;
  text-align: right;
}

#calculator,
.row,
.row-wrapper,
.column-wrapper {
  gap: 4px;
}

.button {
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: var(--numkeys-fonts);
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#clear {
  width: 76px;
  background-color: var(--clear-bg-color);
  font-family: var(--generic-fonts);
}

.number {
  background-color: var(--numkeys-bg-color);
}

.operator,
#backspace,
#equal {
  background-color: var(--opkeys-bg-color);
  font-family: var(--generic-fonts);
}

.row-wrapper {
  flex-direction: column;
}

#add {
  height: 74px;
}

#display-wrapper {
  width: 152 px;
}

#op-display {
  font-family: var(--generic-fonts);
  width: 17px;
  height: 35px;
  padding: 5px 3px;
  background-color: var(--display-bg-color);
  border-radius: 5px 0 0 5px;
}
